.dot {
   position: absolute;
   top: 350px;
   left: 350px;
}
.buttons {
   text-align: center;
   font-size: 20px;
}
.dot2 {
   position: absolute;
   top: 345px;
   left: 350px;
}
#time {
   color: red;
   font-family: 'Orbitron';
}
